*~
*.o
*.lint
*.back
cpplint.py.bak
fasta.d
fasta.ol
fasta.om
fastqs_to_sam
fastqs_to_sam.d
locked.d
locked.ol
locked.om
longSA.d
longSA.ol
longSA.om
mappability_tag
mappability_tag.d
memsam.d
memsam.ol
memsam.om
mummer
mummer-long
mummer-medium
mummer.d
mummer.ol
mummer.om
qsufsort.d
qsufsort.ol
qsufsort.om
query.d
query.ol
query.om
smashMEM.py.bak
strings.d
util.d
util.ol
util.om
varbin.py.bak
